$stacking-order: (
  content: 10,
  search: 20,
);

$search-max-width: rem(694px);
$context-control-expand-after: 1400px;
$context-control-extra-spacing: rem(40px);
$page-left-alignment-breakpoint-max: 1268px;

// TODO: Replace `$large-width` breakpoints with
// `page-content-when-not-partially-condensed`
// Once the frame is rendering our React routes
$large-width: layout-width(primary, max) + layout-width(secondary, max) +
  spacing(tight);

// TODO: fix the slight missalignment with the results container and search bar
@mixin offset-search-container($margin, $padding) {
  @if $margin {
    margin-left: calc((100% - #{$page-max-width}) / 2);

    @include breakpoint-after($context-control-expand-after) {
      margin-left: calc(
        (100% - #{$page-max-width + $context-control-extra-spacing}) / 2
      );
    }

    @media (max-width: $page-left-alignment-breakpoint-max) {
      margin-left: 0;
    }
  }

  // the +3.25rem is a hard coded value which isn't ideal but for prototype it works on big screen just to show
  // but is not responsive
  @if $padding {
    padding-left: calc((100% - #{$page-max-width}) / 2);

    @include breakpoint-after($context-control-expand-after) {
      padding-left: calc(
        (100% - #{$page-max-width + $context-control-extra-spacing}) / 2);
    }

    @media (max-width: $page-left-alignment-breakpoint-max) {
      padding-left: 0;
    }
  }
}
